:root {
    /* Colors */
    --bkgd-color: #c7dee3;
    --footer-color: #1b2250;
    --font-color-white: #fff;
    --font-color-black: #000;


    /* Fonts */
    --font: "Avenir Next", "Helvetica Neue", Helvetica, Arials, sans-serif;

    /* Transitions */
    --transition-speed: 0.3s;
}

body {
    background-color: var(--bkgd-color);
    font-family: var(--font);
    color: var(--font-color-white)
}